# See https://help.github.com/ignore-files/ for more about ignoring files.

# untrack Express Server
/server
/server/node_modules

# UI and screens
/public/src/ui
/public/src/playground

# dependencies
/node_modules


# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
