/* Header and Navigation Dependant CSS  */
/* GLOBAL COLOR SCHEME 
1961a0- MAIN BLUE
1e303f- DARK BLUE
ffffff- WHITE
d63e48- ACCENT RED
000000- BLACK */


.logo{
  color: #ffffff;
  font-weight: 700;
}

.defaultNav{
  background: #1961a0;
  height: 65px;
  font-weight: 500;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) ;
}


.toggleButton{
  color: #1961a0;
}



/* Apply only to mobile devices  */
@media (max-width: 468px){
  .toggleButton{
    background: #333;
    box-shadow: 10px 10px;
    padding-bottom: 20px;
  }
}

/* Apply only to Desktop Devices  */
@media (min-width: 992px){
  .CenterNav{
    padding-left: 250px;
  }
}