/* Header and Navigation Dependant CSS  */
/* GLOBAL COLOR SCHEME 
1961a0- MAIN BLUE
1e303f- DARK BLUE
ffffff- WHITE
d63e48- ACCENT RED
000000- BLACK */


.logo{
  color: #ffffff;
  font-weight: 700;
}

.defaultNav{
  background: #1961a0;
  height: 60px;
  font-weight: 500;
}


.toggleButton{
  color: #1961a0;
}