/* Modular CSS For the Overall Home Component
This also controls Child Components Like 
- HeroForm 
- Missing Persons List
- Missing Persons Card */

/* GLOBAL COLOR SCHEME 
1961a0- MAIN BLUE
1e303f- DARK BLUE
ffffff- WHITE
d63e48- ACCENT RED
000000- BLACK */







/* HeroForm Component related Classes */
.HeroForm{
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 30px 40px;
}

.HeroFormNav{
  border: 1px solid #ffffff;
  padding: 0px;
  margin: 0px;
}

.HeroFormNavLink{
  border-radius: 0px;
  color: #ffffff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #1961a0;
    border-radius: 0px;
}

 .nav-tabs .nav-item{
  color: #ffffff;
  height: 30px;
}

.nav-tabs .nav-link{
  height: 30px;
  font-size: 12px;
  line-height: 1em;
  font-weight: 500;
}



.nav-link.active, .nav-link:hover{
    border-color: #dee2e6 #dee2e6 #fff;
    border-radius: 0px;
    background: #1961a0;
    border-top: 0px;
    /* border-bottom: 0px; */

}

.HeroFormButton{
  border-radius: 0px;
}


@media (max-width: 456px) {
  .HeroForm{
    padding: 20px 25px;
  }

  .HeroFormNav{
  padding: 0px
}
}