/* Import Typography CSS */
@import url('./webfonts/typo.css');

/* GLOBAL COLOR SCHEME 
1961a0- MAIN BLUE
1e303f- DARK BLUE
ffffff- WHITE
d63e48- ACCENT RED
000000- BLACK */



body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Graphik", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

.bg-default{
  background: #1961a0;
}

.mpa__bg-dark{
  background: #1e303f;
}

.mpa__bg-accent{
  background: #d63e48;
  border: 1px solid #d63e48;
}


.mpa__color-alice{
  color: aliceblue;
}
.mpa__color-dark{
  color: #1e303f;
}



h1, h2, h3, h4 {
  font-family: -apple-system, BlinkMacSystemFont, "GT Walsheim", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #1e303f;
}

footer h6{
  font-weight: 400;
}

footer h6:hover{
  color:#333;
  text-decoration: #333;
}



/* Footer Specific Styling */
  /* Fullwidth Standard Footer  */
  .mpa__footer-copyright{
    border-top: 1px solid #084d8a;
  }

  .mpa__footer-standard{
    border-bottom: 1px solid #15568f;
  }